.logo {
  position: fixed;
  cursor: pointer;
  z-index: 1;

  & :hover {
    opacity: 0.7;
  }
}

.main-screen {
  position: relative;
  padding: 2rem 0;
  height: 100vh;
}

.main-description {
  padding: 12rem 0;
}

.subheading {
  font-size: 0.8rem;
  line-height: 1rem;
  letter-spacing: 0.15em;
  color: $yellow;
}

.main-screen-heading {
  position: relative;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.yellow-word {
  color: $yellow;
}

.main-screen p {
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 3.1rem 0;
  width: 31rem;
}

.signature {
  padding-top: 1.8rem;
}

.large-figure {
  position: absolute;
  right: -6.2rem;
  bottom: 2.5rem;

  animation: spin 15s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.medium-figure {
  position: absolute;
  right: 6.2rem;
  bottom: 28rem;
  transform: rotate(150deg);

  animation: spin 10s linear infinite;
}

.small-figure {
  position: absolute;
  right: -4rem;
  bottom: 26rem;
  transform: rotate(5deg);

  animation: spin 10s linear infinite;
}

a#scroll-btn {
  position: absolute;
  height: 2.5rem;
  width: 1.6rem;
  border: 0.1rem solid #fff;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 3.7rem;
  border-radius: 1.6rem;
}

a#scroll-btn::before {
  position: absolute;
  content: "";
  margin: auto;
  top: 0.3rem;
  left: 0;
  right: 0;
  height: 0.4rem;
  width: 0.4rem;
  background-color: #fff;
  border-radius: 50%;
  animation: move-down 2s infinite;
}

a#scroll-btn::after {
  position: absolute;
  content: "Scroll Down";

  width: 7rem;
  display: block;
  text-align: center;
  left: -2.5rem;
  bottom: -2.5rem;
  font-size: 1rem;
  color: #fff;
}

@keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

@media (min-width: $tablet-width) {
}
