.service-section {
  padding: 60px 0;
  height: 100vh;
}

.service-section-wrapper {
  @include flexCenter(row);
  gap: 120px;
  padding: 180px 0;
}

// box
.card {
  position: relative;
  width: 356px;
  height: 434px;
  background: $bg-color;
  border-radius: 100px 0px;
  transition: 0.5s;
}

.card .lines {
  position: absolute;
  inset: 0;
  background: $bg-color;
  overflow: hidden;
  border-radius: 100px 0px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 220px;
    background: linear-gradient(
      transparent,
      $yellow,
      $green,
      $purple,
      transparent
    );
    animation: animate 7s linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 3px;
    border-radius: 100px 0px;
    background: $bg-color;
  }
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.service-photo {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 100px 0px;
}
// box/end

.service-description {
  width: 690px;
}

.service-heading {
  position: relative;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 0.1em;
  color: #ffffff;

  & ::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 120px;
    left: 0;
    bottom: -10px;
    background: $yellow;
  }
}

.service-section p {
  padding-top: 50px;
  font-size: 16px;
  line-height: 21px;
}

.service-features {
  display: flex;
  gap: 150px;
  padding-top: 100px;
}

.service-features li {
  padding-bottom: 20px;
  list-style: square;
}
