* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  min-width: 1070px;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.1em;
  background-color: #020e16;
  color: #ffffff;
  background-image: url("/img/blur.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.primary-button {
  padding: 14px 77px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
  color: #2b5876;
  cursor: pointer;
  background: #ffc046;
  box-shadow: inset 7px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transition: background-color 0.5s ease;
}
.primary-button:hover {
  background: #fea700;
}
.primary-button:active {
  transform: scale(0.9);
}

.container {
  width: 1070px;
  height: auto;
  margin: 0 10% 0 15%;
}

h2 {
  position: relative;
  font-size: 40px;
  line-height: 53px;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

header {
  position: fixed;
  width: 65px;
  height: 100%;
  float: left;
  position: fixed;
  z-index: 2;
  background: linear-gradient(#2b5876 0%, #4e4376 100%);
}

.rail-navigation {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.progress-container {
  width: 5%;
  height: 50%;
  background: #fff;
  border-radius: 10px;
}

.progress-bar {
  background: #ffc046;
  border-radius: 10px;
}

.social-media-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.social-media-header a:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* MENU STYLES */
.menu-container {
  z-index: 3;
}

.hamburger {
  position: relative;
  position: block;
  width: 35px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 10px 0px;
  transition: 0.4s;
}

.hamburger.active:before {
  transform: rotate(-45deg) translate(-9px, 7px);
}

.hamburger.active:after {
  transform: rotate(45deg) translate(-11px, -9px);
}

.hamburger.active .bar {
  opacity: 0;
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  top: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 2;
  background: linear-gradient(180deg, #2b5876 0%, #4e4376 100%);
  transition: 0.5s;
}

.navigation.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
}

.nav-link {
  padding: 14px 77px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 50px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}
.nav-link:hover, .nav-link:focus {
  color: #ffc046;
  transform: scale(0.9);
}

.nav-link-active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 14px 77px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 50px;
  text-align: center;
  color: #2b5876;
  background-color: #ffc046;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}
.nav-link-active:hover {
  background: #fea700;
}
.nav-link-active:active {
  transform: scale(0.9);
}

.dropbtn {
  color: white;
  position: relative;
  background: none;
  font-size: 20px;
  left: -20px;
  width: 300px;
  border: none;
  cursor: pointer;
}
.dropbtn::after {
  content: "";
  position: absolute;
  right: 70px;
  top: 5px;
  background-image: url("/img/drop-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 20px;
  height: 12px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 14px 75px;
  margin: 20px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  max-width: 300px;
  text-decoration: none;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: #ffc046;
  color: #2b5876;
  transition: background-color 0.5s ease;
}

.dropbtn:hover,
.dropbtn:focus {
  color: #ffc046;
  transform: scale(0.9);
}

.show {
  display: block;
}

.logo {
  position: fixed;
  cursor: pointer;
  z-index: 1;
}
.logo :hover {
  opacity: 0.7;
}

.main-screen {
  position: relative;
  padding: 60px 0;
  height: 100vh;
}

.main-description {
  width: 690px;
  padding: 160px 0;
}

.subheading {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15em;
  color: #ffc046;
}

.main-screen-heading {
  position: relative;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.main-screen-heading ::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 120px;
  left: 0;
  bottom: -10px;
  background: #ffc046;
}

.yellow-word {
  color: #ffc046;
}

.main-screen p {
  font-size: 16px;
  line-height: 21px;
  padding: 50px 0;
  width: 500px;
}

.signature {
  padding-top: 30px;
}

.large-figure {
  position: absolute;
  right: -100px;
  bottom: 40px;
  -webkit-animation: spin 15s linear infinite;
          animation: spin 15s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.medium-figure {
  position: absolute;
  right: 100px;
  bottom: 450px;
  transform: rotate(150deg);
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

.small-figure {
  position: absolute;
  right: -60px;
  bottom: 420px;
  transform: rotate(5deg);
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

a#scroll-btn {
  position: absolute;
  height: 40px;
  width: 25px;
  border: 1px solid #fff;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 60px;
  border-radius: 25px;
}

a#scroll-btn::before {
  position: absolute;
  content: "";
  margin: auto;
  top: 5px;
  left: 0;
  right: 0;
  height: 6px;
  width: 6px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-animation: move-down 2s infinite;
          animation: move-down 2s infinite;
}

a#scroll-btn::after {
  position: absolute;
  content: "Scroll Down";
  width: 110px;
  display: block;
  text-align: center;
  left: -40px;
  bottom: -40px;
  font-size: 16px;
  color: #fff;
}

@-webkit-keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

@keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}
.features {
  margin: 200px 0;
}

.features-card-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  gap: 100px;
}

.features-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0px;
  gap: 80px;
  width: 370px;
}

.features-heading:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 120px;
  left: 370px;
  bottom: -10px;
  background: #ffc046;
}

.features-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 350px;
}

.features-card:before {
  content: "";
  position: absolute;
  left: -35px;
  background-image: url("/img/circle.png");
  width: 165px;
  height: 165px;
}

.features-card--1:after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -15px;
  top: 30px;
  background: #ffc046;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.features-card--2:after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: 105px;
  top: 110px;
  background: #ffc046;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.features-card--3:after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -35px;
  bottom: 50px;
  background: #ffc046;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.features-card--4:after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: 40px;
  bottom: 5px;
  background: #ffc046;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.services-heading:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 120px;
  left: 333px;
  bottom: -10px;
  background: #ffc046;
}

.services {
  margin: 300px 0;
}

.services-wrapper {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.services-card {
  width: 291px;
  height: 369px;
  /* perspective: 1000px; */
}

.services-flip {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.services-card:hover .services-flip {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  transform: rotateY(180deg);
  color: #020e16;
  background-color: #ffffff;
  border-radius: 25px;
}

.card-back-title {
  font-size: 28px;
  text-align: center;
  color: #2b5876;
}

.card-back-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-back-button {
  border-radius: 0 0 25px 25px;
  padding: 14px 70px;
}
.card-back-button:active {
  transform: none;
}

.card-front {
  position: relative;
  width: 291px;
  height: 369px;
  transform-style: preserve-3d;
}

.card-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 25px;
}
.card-front::after {
  position: absolute;
  content: "";
  width: 291px;
  height: 369px;
  left: 0px;
  top: 0px;
  background: linear-gradient(181.37deg, rgba(2, 14, 22, 0) 1.16%, rgba(2, 14, 22, 0.8) 98.83%);
}

.services-title {
  position: absolute;
  left: 20%;
  bottom: 30px;
  width: 180px;
  font-size: 20px;
  text-align: center;
  z-index: 1;
}

.expand-button {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-bottom: 65px solid #ffc046;
  border-radius: 0 0 25px 0;
  z-index: 1;
  cursor: pointer;
}
.expand-button::after {
  content: "";
  position: absolute;
  right: 8px;
  bottom: -57px;
  background-image: url("/img/arrow-open.svg");
  width: 26px;
  height: 26px;
}

.contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 300px 0;
}

.contact-heading:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 120px;
  left: 5px;
  bottom: -10px;
  background: #ffc046;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: auto;
  padding: 55px;
  padding-bottom: 150px;
  background: linear-gradient(117.43deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100.42%);
  border: 1px solid #ffffff;
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px);
  border-radius: 25px;
  row-gap: 30px;
}

.input {
  width: auto;
  height: 50px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  color: #fff;
  border-radius: 20px;
  border: none;
}
.input::-moz-placeholder {
  color: #fff;
  opacity: 0.6;
}
.input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.6;
}
.input::placeholder {
  color: #fff;
  opacity: 0.6;
}
.input:focus {
  background: rgba(255, 255, 255, 0.585);
  color: #000;
}
.input:focus::-moz-placeholder {
  color: #020e16;
  opacity: 0.6;
}
.input:focus:-ms-input-placeholder {
  color: #020e16;
  opacity: 0.6;
}
.input:focus::placeholder {
  color: #020e16;
  opacity: 0.6;
}
.input:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.form-names {
  display: flex;
  justify-content: space-between;
}
.form-names input {
  width: 205px;
}

.form-message {
  height: 150px;
}

.files-send {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 85px;
}

.form-file[type=file] {
  display: none;
}

.files-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #fff;
  height: 35px;
  width: 151px;
  gap: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.files-label:hover {
  opacity: 0.8;
}
.files-label:active {
  transform: scale(0.9);
}

.letter-image {
  position: absolute;
  z-index: -1;
  top: 205px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 70px 0;
  gap: 200px;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.social-media-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.social-media-footer a:hover {
  opacity: 0.7;
  cursor: pointer;
}

.contact-email {
  color: #fff;
  cursor: pointer;
}
.contact-email:hover {
  text-decoration: underline;
}
.contact-email:active {
  outline: none;
  transform: scale(0.9);
}

.service-section {
  padding-top: 60px;
}

.service-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 120px;
  padding-top: 180px;
}

.animated-photo {
  position: relative;
  width: 356px;
  height: 434px;
  transition: 0.5s;
}

.animated-photo .lines {
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.animated-photo .lines::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 320px;
  background: linear-gradient(transparent, #ffc046, #ffc046, #ffc046, transparent);
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.service-photo {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

.service-description {
  width: 690px;
}

.service-heading {
  position: relative;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.service-heading ::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 120px;
  left: 0;
  bottom: -10px;
  background: #ffc046;
}

.service-section p {
  padding-top: 50px;
  font-size: 16px;
  line-height: 21px;
}

.service-features {
  display: flex;
  gap: 150px;
  padding-top: 100px;
}

.service-features li {
  padding-bottom: 20px;
  list-style: square;
}

.price-list {
  position: relative;
  margin: 300px 0;
}

.price-list-heading {
  position: relative;
}
.price-list-heading::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 120px;
  left: 444px;
  bottom: -10px;
  background: #ffc046;
}

.price-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 200px;
}

.price-card {
  position: relative;
  text-align: center;
  font-weight: 700;
  padding-top: 100px;
}
.price-card::before {
  content: "";
  position: absolute;
  left: -47px;
  top: 0;
  background-image: url("/img/pricetag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 252px;
  height: 497px;
  z-index: -1;
}

.solid::before {
  display: none;
}

.solid::after {
  content: "";
  position: absolute;
  left: -47px;
  top: 0;
  background-image: url("/img/pricetag-solid.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 252px;
  height: 497px;
  z-index: -1;
}

.price-card-name,
.price-card-number {
  padding-bottom: 50px;
  color: #ffc046;
  font-size: 32px;
  font-weight: bold;
}

.dollar {
  color: #ffc046;
}

.price-card-features {
  text-align: initial;
  padding: 35px 0 0 33px;
}

.price-feature {
  position: relative;
  padding: 5px 0;
}
.price-feature::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 8px;
  background-image: url("/img/pricetag-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 15px;
  height: 15px;
}

.faded {
  opacity: 0.4;
}/*# sourceMappingURL=style.css.map */